/* VARIABLES */
:root {
  --CodGray: #080808;
  --Abbey: #494E52;
  --Gainsboro: #E6E3E3;
  --TallPoppy: #C0392B;
}

/* GLOBAL */
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: var(--TallPoppy);
  color: var(--Gainsboro);
}

::selection {
  background: var(--TallPoppy);
  color: var(--Gainsboro);
}

/* LAYOUT & STYLES */
html {
  font-family: 'Cardo', serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  color: var(--Gainsboro);
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

section {
  background-color: var(--CodGray);
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

h1 {
  font-size: calc(1rem + 3vw);
}

h2 {
  font-size: calc(.88rem + 1vw);
}

h3 {
  font-size: calc(.8rem + 1vw);
}

p {
  font-size: calc(.66rem + 1vw);
  color: var(--Gainsboro);
}

a {
  color: var(--TallPoppy);
  transition: color ease-in .15s;
}

a:hover {
  color: var(--Gainsboro);
}

.section-title {
  font-size: calc(2rem + 1vw);
  text-transform: none;
  font-weight: 800;
  text-shadow: none;
  text-align: left;
}

/* hero */
#hero {
  background: url(../img/intro.jpg) no-repeat center center;
  background-size: cover;
}

.hero-content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    ". . . ."
    ". logo logo ."
    ". baseline baseline ."
    ". . . .";
  height: 100%;
}

.logo {
  grid-area: logo;
  width: 90%;
  height: auto;
  align-self: flex-end;
  margin: 0 auto;
  filter: drop-shadow(0 1px 2px var(--CodGray));
}

#baseline {
  grid-area: baseline;
  text-align: center;
}

#baseline h2 {
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 0 1px 2px var(--CodGray);
}

/* scroller */
.scroll-wrapper {
  position: relative;
  display: inline-block;
}

.scroll {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  transform: rotate(-45deg);
}

/* gallery */
.gallery ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery li {
  height: 26vh;
  flex-grow: 1;
  margin: 1vmin;
}

.gallery li:hover a img {
  filter: saturate(0);
}

.gallery li:last-child {
  flex-grow: 10;
}

.gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 0;
  transition: filter ease-in-out .44s;
}

/* intro */
#intro {
  display: grid;
  grid-template-columns: minmax(10px, 100px) repeat(3, 1fr) minmax(10px, 100px);
  grid-template-rows: minmax(10px, 100px) repeat(2, 1fr);
  grid-template-areas:
    ". . . . ."
    ". main-intro main-intro main-intro ."
    ". intro-tatouage intro-illustration intro-peinture .";
}

.main-intro {
  grid-area: main-intro;
}

.main-intro h1,
.main-intro h2 {
  margin: 0;
}

.intro-card {
  background-color: var(--Gainsboro);
  margin-right: 1rem;
  align-self: stretch;
  transition: all ease-in .15s;
}

.intro-card:last-of-type {
  margin-right: 0;
}

.intro-card a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  color: var(--CodGray);
  text-decoration: none;
}

.intro-card p {
  color: var(--CodGray);
}

.intro-tatouage {
  grid-area: intro-tatouage;
}

.intro-illustration {
  grid-area: intro-illustration;
}

.intro-peinture {
  grid-area: intro-peinture;
}

.intro-card:hover {
  background-color: var(--TallPoppy);
}

.intro-card:hover p,
.intro-card:hover h3 {
  color: var(--Gainsboro);
}

/* Contact */
#contact {
  display: grid;
  grid-template-columns: minmax(20px, 100px) repeat(4, 1fr) minmax(20px, 100px);
  grid-template-rows: minmax(20px, 100px) repeat(3, 1fr);
  grid-template-areas:
    ". . . . . ."
    ". main-contact main-contact main-contact main-contact ."
    ". map map map map ."
    ". footer footer footer footer .";
}

.main-contact {
  grid-area: main-contact;
}

.main-contact h1,
.main-contact h2 {
  margin: 0;
}

.map {
  grid-area: map;
}

.map iframe {
  pointer-events: none;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr minmax(40px, 100px);
  grid-gap: 1rem;
  grid-template-areas: "contact horaires social""legal legal legal";
}

.contact {
  grid-area: contact;
}

.contact address {
  font-style: normal;
}

.contact address p {
  margin: 0;
}

.contact address a {
  display: inline-block;
}

.contact address p,
.contact address a {
  font-size: calc(.44rem + 1vw);
}

.horaires {
  grid-area: horaires;
}

.horaires p {
  margin: 0;
  font-size: calc(.44rem + 1vw);
}

.social {
  grid-area: social;
}

.social a {
  display: block;
  font-size: calc(.44rem + 1vw);
}

.legal {
  grid-area: legal;
  text-align: center;
  align-self: flex-end;
}

.legal p {
  font-size: calc(.26rem + 1vw);
}

/* MEDIA QUERIES */
@media (max-aspect-ratio: 1 / 1) {
  .gallery li {
    height: 23vh;
  }
}

@media (max-height: 480px) {
  .gallery li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
  section {
    padding: 0;
  }

  .hero-content-wrapper {
    grid-template-columns: .5fr repeat(2, 1fr) .5fr;
  }

  .logo {
    width: 100%;
  }

  .intro-card {
    margin-right: 0;
  }

  .intro-card p {
    font-size: calc(.5rem + 1vw);
  }

  .gallery ul {
    flex-direction: row;
  }

  .gallery li {
    height: auto;
    width: 100%;
  }

  .gallery img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }

  #contact {
    grid-template-columns: .5fr repeat(4, 1fr) .5fr;
    grid-template-areas:
      ". . . . . ."
      ". main-contact main-contact main-contact main-contact ."
      ". map map map map ."
      "footer footer footer footer footer footer";
  }

  .footer {
    padding: 0 1rem;
  }
}
